<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Route</title>
</head>
<in>
    <p>you are about to edit this form for  : <%= userforedit.email %> </p>
    <form method="post" action="/user/<%= userforedit.id %>?_method=PATCH">
    <textarea name = "username"> <%= userforedit.username%> </textarea>
    <input type="password" name="password" placeholder="enter your password">
    <button>edit</button>
    </form>
</body>
</html>