<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>Welcome ! Join by filling this form 
        <form method="POST" action="/newUser">
            <input type="text" placeholder="enter your username" name="username" required>
            <input type="email" placeholder="enter your email" name="email" required>
            <input type="password" placeholder="enter your password" name="password" required>
            <button>Submit</button>
        </form>
    </h2>

</body>
</html>