<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>
<body>
    <h2>Usrnames for all the user in app : </h2>
    <p>
        <%= usernamesinapp %>
    </p>
</body>
</html>